*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#F4A623;
display:flex;
height:100vh;
overflow:hidden;
}

#menuBtn{
position:fixed;
top:15px;
left:15px;
width:55px;
height:55px;
border:none;
border-radius:12px;
background:#2d00ff;
color:white;
font-size:30px;
cursor:pointer;
z-index:9999;
}

.sidebar{
width:280px;
background:#F4A623;
display:flex;
flex-direction:column;
align-items:center;
padding:30px 15px;
gap:35px;
transition:0.4s;
z-index:99999;
}

.sidebar button{
    opacity:0;
    transform:translateX(-40px);
}

.sidebar.active button{
    animation: fadeIn .5s ease forwards;
}

.sidebar.active button:nth-child(1){animation-delay:.05s;}
.sidebar.active button:nth-child(2){animation-delay:.10s;}
.sidebar.active button:nth-child(3){animation-delay:.15s;}
.sidebar.active button:nth-child(4){animation-delay:.20s;}
.sidebar.active button:nth-child(5){animation-delay:.25s;}
.sidebar.active button:nth-child(6){animation-delay:.30s;}


.sidebar.closing button{
    animation: fadeOut .4s ease forwards;
}

.sidebar.closing button:nth-child(1){animation-delay:.30s;}
.sidebar.closing button:nth-child(2){animation-delay:.25s;}
.sidebar.closing button:nth-child(3){animation-delay:.20s;}
.sidebar.closing button:nth-child(4){animation-delay:.15s;}
.sidebar.closing button:nth-child(5){animation-delay:.10s;}
.sidebar.closing button:nth-child(6){animation-delay:.05s;}


@keyframes fadeIn {
    from {
        opacity:0;
        transform:translateX(-40px);
    }
    to {
        opacity:1;
        transform:translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity:1;
        transform:translateX(0);
    }
    to {
        opacity:0;
        transform:translateX(-40px);
    }
}

.sidebar.hide{
transform:translateX(-100%);
position:absolute;
left:0;
top:0;
}

.sidebar h1{
font-size:55px;
font-weight:bold;
}

.sidebar button{
position:relative;
overflow:hidden;
width:190px;
height:58px;
border:none;
border-radius:18px;
background:#2d00ff;
color:white;
font-size:20px;
font-weight:600;
letter-spacing:.5px;
cursor:pointer;
display:flex;
align-items:center;
justify-content:center;
transition:.35s ease;
}

.sidebar button::before{
content:"";
position:absolute;
top:0;
left:-130%;
width:45%;
height:100%;
background:rgba(255,255,255,.45);
transform:skewX(-25deg);
transition:.7s;
}

.sidebar button:hover::before{
left:150%;
}

.sidebar button:hover{
transform:translateY(-6px) scale(1.05);
box-shadow:
0 0 10px #2d00ff,
0 0 20px #2d00ff,
0 0 35px rgba(45,0,255,.7),
0 12px 25px rgba(45,0,255,.45);
background:#3d17ff;
}

.sidebar button:active{
transform:translateY(0) scale(.95);
box-shadow:
0 0 10px rgba(45,0,255,.5);
transition:.1s;
}

.sidebar button{
animation:fadeIn .5s ease backwards;
}

.sidebar button:nth-child(2){animation-delay:.05s;}
.sidebar button:nth-child(3){animation-delay:.10s;}
.sidebar button:nth-child(4){animation-delay:.15s;}
.sidebar button:nth-child(5){animation-delay:.20s;}
.sidebar button:nth-child(6){animation-delay:.25s;}

@keyframes fadeIn{

from{
opacity:0;
transform:translateX(-20px);
}

to{
opacity:1;
transform:translateX(0);
}

}

.timeBox{
margin-top:20px;
text-align:center;
}

.timeBox h2{
font-size:45px;
}

.timeBox p{
margin-top:10px;
font-size:38px;
font-weight:bold;
color: #00ff03;
}

.back{
font-size:27px!important;
background: transparent!important;
background: #2d00ff !important;;
}

.main{
flex:1;
padding:20px;
overflow:auto;
transition:0.4s;
}

.main.full{
width:100%;
margin-left:0;
}

.banner{
position:relative;
height:230px;
margin-bottom:25px;
}

.banner img{
max-width:100%;
max-height:100%;
width:auto;
height:auto;
display:block;
margin:auto;
border-radius:20px;
}

.content{
height:476px;
background:#2d00ff;
border-radius:30px;
}

.logo{
left: 60px;
position:absolute;
top:30px;
width:180px;
height:180px;
border-radius:50%;
overflow:hidden;
background:transparent;
padding:4px;
z-index:999;
}

.logo img{
width:100%;
height:100%;
object-fit:cover;
border-radius:50%;
}

.welcomeTitle{
color:white;
text-align:center;
padding:20px 0;
font-size:38px;
font-weight:bold;
}

#officersTitle{
color:white;
text-align:center;
font-size:42px;
font-weight:bold;
margin-bottom:15px;
}

#officersContainer{
color:white;
padding-top:120px;
line-height:1.8;
}

#officersHeading1,
#officersHeading2{
color:#FFD54F;
font-size:21px;
margin:18px 0 12px;
text-align:left;
}

#officersList,
#committeeList{
padding-left:35px;
margin:0;
}

#officersList li,
#committeeList li{
margin-bottom:10px;
text-align:left;
font-size: 23px;
}

#officersDescription{
margin-top:25px;
text-align:justify;
line-height:1.8;
font-size: 26px;
}

.social-container {
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a img {
    width: 45px;
    height: 45px;
    transition: 0.3s;
}

.social-icons a img:hover {
    transform: scale(1.2);
    filter: brightness(1.3);
}

#triangleBtn{
    position:fixed;
    bottom:12px;
    left:50%;
    transform:translateX(-50%);
    width:0;
    height:0;
    border-left:35px solid transparent;
    border-right:35px solid transparent;
    border-bottom:55px solid #F4A623;
    cursor:pointer;
    z-index:999;
    filter:
        drop-shadow(0 0 5px #00bfff)
        drop-shadow(0 0 10px #00bfff)
        drop-shadow(0 0 18px #00bfff)
        drop-shadow(0 0 30px #00bfff);
    animation:triangleFloat 2s ease-in-out infinite,
              triangleGlow 1.5s ease-in-out infinite alternate;
}

#triangleBtn:hover{
    border-bottom-color:#FFD54F;
}

@keyframes triangleFloat{
    0%,100%{
        transform:translateX(-50%) translateY(0);
    }
    50%{
        transform:translateX(-50%) translateY(-8px);
    }
}

@keyframes triangleGlow{
    from{
        filter:
            drop-shadow(0 0 5px #00bfff)
            drop-shadow(0 0 10px #00bfff)
            drop-shadow(0 0 18px #00bfff);
    }

    to{
        filter:
            drop-shadow(0 0 10px #00bfff)
            drop-shadow(0 0 20px #00bfff)
            drop-shadow(0 0 35px #00bfff)
            drop-shadow(0 0 50px #00bfff);
    }
}

#triangleBtn:hover{
    transform:translateX(-50%) scale(1.15);
}

.dateModal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    justify-content:center;
    align-items:center;
    z-index:100000;
}

.dateBox{
    width:220px;
    background:#2d00ff;
    border-radius:15px;
    padding:18px;
    text-align:center;
    position:relative;
    animation:popup 0.25s ease;
}

#closeModal{
    position:absolute;
    top:8px;
    right:10px;
    border:none;
    background:none;
    font-size:22px;
    cursor:pointer;
    color:#ff0000;
}

.dateBox h3{
    margin:0 0 12px;
    font-size:18px;
    color: #ffffff;
}

#liveClock{
    font-size:28px;
    font-weight:bold;
    color:#FFD54F;
}

#currentDate{
    margin-top:8px;
    font-size:14px;
    color:#ffffff;
}

@keyframes popup{
    from{
        opacity:0;
        transform:scale(.85);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}

.welcome-modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.82);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:99999;
    opacity:0;
    visibility:hidden;
    transition:0.35s ease;
}

.welcome-modal.show{
    opacity:1;
    visibility:visible;
}

.profile-circle{
    width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
    border:6px solid #00bfff;
    box-shadow:0 0 30px #00bfff;
    margin-bottom:30px;
}

.welcome-content{
    width:700px;
    max-width:90%;
    min-height:600px;
    border-radius:25px;
    text-align:center;
    padding:50px;
    position:relative;
    z-index:1;
    animation:popup 0.4s ease;

}

.welcome-content::before{
    content:"";
    position:absolute;
    inset:-4px;
    border-radius:30px;
    background:linear-gradient(
        90deg,
        #00e5ff,
        #00bfff,
        #66ffff,
        #00bfff,
        #00e5ff
    );
    background-size:300% 300%;
    z-index:-1;
    filter:blur(10px);
    animation:neonGradient 4s linear infinite;
}

@keyframes neonGradient{
    0%{
        background-position:0% 50%;
    }
    100%{
        background-position:300% 50%;
    }
}

.welcome-content h2{
    font-size:42px;
    color:#FFD54F;
    margin:0 0 20px;
    font-weight:bold;
}

.welcome-text .line1{
    display:block;
    font-size:28px;
    font-weight:bold;
    color:#000;
    margin-bottom:12px;
}

.welcome-text .line2{
    display:block;
    font-size:20px;
    color:#555;
}

.close-btn{
    position:absolute;
    top:18px;
    right:22px;
    background:none;
    border:none;
    color:#ff0000;
    font-size:40px;
    cursor:pointer;
}

@keyframes popup{
    from{
        transform:scale(.75);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

#homeHeader{
    display:flex;
    align-items:center;
    gap:10px;
}

#homeIconBtn{
    width:40px;
    height:40px;
    background:#000;
    color:#fff;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:.3s;
}

#homeIconBtn:hover{
    background:#222;
    transform:scale(1.05);
}

#officerTriangleBtn{
    position:fixed;
    right:2%;
    top:50%;
    width:130px;
    height:180px;
    background:#00bfff;
    clip-path:polygon(0 50%,100% 0,100% 100%);
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:9999;
    transition:.3s;
}

#officerTriangleBtn{
animation:
officerTriangleFloat 2s infinite ease-in-out,
triangleGlow 1.5s infinite alternate;
}

#officerTriangleBtn span{
    color:white;
    font-size:35px;
    font-weight:bold;
}

@keyframes officerTriangleFloat{
0%,100%{
transform:translateX(-50%);
}

50%{
transform:translateX(calc(-50% + 15px));
}
}

#officerTriangleBtn::after{
content:"";
position:absolute;
top:-60px;
left:220px;
width:45px;
height:300px;
background:white;
opacity:.7;
transform:rotate(45deg);
animation:triangleLight 2s infinite;
}

@keyframes triangleLight{
0%{
left:220px;
}

100%{
left:-150px;
}
}

#officerSideModal{
    position:fixed;
    right:-1000px;
    top:50%;
    transform:translateY(-50%);
    width:800px;
    height:450px;
    background:#2d00ff;
    border-radius:20px;
    display:flex;
    padding:20px;
    gap:20px;
    transition:right .5s ease;
    z-index:99999;
}

#officerSideModal.active{
    right:calc(50% - 400px);
}

#closeOfficerModal{
    position: absolute;
    right: 4px;
    top: 6px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: transparent;
    color: red;
    font-size: 28px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    z-index: 99999;
}

#officerModalLeft{
width:35%;
display:flex;
flex-direction:column;
gap:8px;
overflow:auto;
}

#officerModalLeft button{
padding:10px;
border:none;
border-radius:8px;
background:#F4A623;
color:white;
cursor:pointer;
overflow-y: hidden;
}

#officerModalRight{
width:65%;
text-align:center;
color:white;
font-size: 6px;
}

#officerPicture{
width:220px;
height:220px;
object-fit:cover;
border-radius:15px;
margin-bottom: 16px;
}

#officerImageFrame{
    position:relative;
    display:inline-block;
    overflow:hidden;
    border-radius:20px;
}

#officerImageFrame img{
    display:block;
    max-width:85vw;
    max-height:85vh;
    object-fit:contain;
    border-radius:20px;
}

#officerImageShine{
    position:absolute;
    top:-50%;
    left:-180px;

    width:120px;
    height:200%;

    background:linear-gradient(
        90deg,
        rgba(255,255,255,0),
        rgba(255,255,255,.03),
        rgba(255,255,255,.08),
        rgba(255,255,255,.18),
        rgba(255,255,255,.35),
        rgba(255,255,255,.65),
        rgba(255,255,255,.35),
        rgba(255,255,255,.18),
        rgba(255,255,255,.08),
        rgba(255,255,255,.03),
        rgba(255,255,255,0)
    );

    transform:rotate(25deg);
    filter:blur(18px);
    opacity:.9;
    pointer-events:none;

    animation:smoothShine 2.8s ease-in-out infinite;
}

@keyframes smoothShine{
    0%{
        left:-180px;
        opacity:0;
    }

    15%{
        opacity:.9;
    }

    85%{
        opacity:.9;
    }

    100%{
        left:calc(100% + 180px);
        opacity:0;
    }
}

#officerModalOverlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.65);
    opacity:0;
    visibility:hidden;
    transition:.5s;
    z-index:99998;
}

#officerModalOverlay.active{
    opacity:1;
    visibility:visible;
}

#officerImagePopup{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.8);
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:999999;
}

#officerImagePopup img{
    max-width:80%;
    max-height:80%;
    border-radius:20px;
}


#closeOfficerImagePopup{
    position:absolute;
    top:30px;
    right:40px;
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    color: red;
    background: transparent;
    font-size:25px;
    cursor:pointer;
    z-index: 999999;
}

#content{
    position:relative;
    overflow:hidden;
}

#openCleanerSidebar{
    width:0;
    height:0;
    border:none;
    border-top:45px solid transparent;
    border-bottom:45px solid transparent;
    border-left:80px solid skyblue;
    background:transparent;
    cursor:pointer;
    outline:none;
    position:relative;
    top:60px;
    filter:drop-shadow(0 0 10px skyblue);
    animation:triangleFloat 2s ease-in-out infinite;
    transition:.3s ease;
}

@keyframes triangleFloat{

    0%{
        transform:translateX(0);
    }

    50%{
        transform:translateX(15px);
    }

    100%{
        transform:translateX(0);
    }

}

#openCleanerSidebar:hover{
    filter:
    drop-shadow(0 0 20px skyblue)
    drop-shadow(0 0 40px cyan);
    transform:
    translateY(40px)
    scale(1.2);
}

#openCleanerSidebar:active{
    transform:
    translateY(40px)
    scale(.8);
}

#cleanerSidebar{
    position:absolute;
    top:0;
    right:-250px;
    width:220px;
    height:100%;
    background:#1f1f1f;
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:20px;
    box-sizing:border-box;
    transition:.4s;
}

#cleanerSidebar.active{
    right:0;
}

#cleanerSidebar button{
    padding:12px;
    border:none;
    background:#F4A623;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
    transform:translateX(0);
    transition:.2s ease;
}

#cleanerSidebar button.selected{
    transform:scale(1.1);
    box-shadow:0 0 20px #F4A623;
}

#cleanerSidebar button:active{
    transform:scale(1.15);
    box-shadow:
    0 0 20px #F4A623;
}

#cleanerSidebar button.openBtn{
    animation:buttonOpen .2s ease forwards;
}

#cleanerSidebar button.closeBtn{
    animation:buttonClose .2s ease forwards;
}


@keyframes buttonOpen{
    from{
        opacity:0;
        transform:translateX(100px);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}


@keyframes buttonClose{
    from{
        opacity:1;
        transform:translateX(0);
    }
    to{
        opacity:0;
        transform:translateX(100px);
    }
}

#cleanerSidebar button{
    position:relative;
    overflow:hidden;
    padding:12px;
    border:none;
    background:#F4A623;
    color:#fff;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
    transition:.3s ease;
}

#cleanerSidebar button::before{
    content:"";
    position:absolute;
    top:0;
    left:-100%;
    width:50%;
    height:100%;
    background:linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,.8),
        transparent
    );

    transition:.5s;
}

#cleanerSidebar button:hover::before{
    left:150%;
}

#cleanerSidebar button:hover{
    transform:translateY(-3px) scale(1.05);
    box-shadow:
        0 0 15px #F4A623,
        0 0 30px rgba(244,166,35,.8);
}


#cleanerSidebar button.active{
    background:#ff8c00;
    transform:scale(1.08);
    box-shadow:
        0 0 20px #F4A623,
        inset 0 0 15px rgba(255,255,255,.5);
    animation:cleanerPulse 1.5s infinite;
}


@keyframes cleanerPulse{

    0%{
        box-shadow:
        0 0 10px #F4A623;
    }

    50%{
        box-shadow:
        0 0 30px #F4A623;
    }

    100%{
        box-shadow:
        0 0 10px #F4A623;
    }
}

#cleanerContent{
    padding:80px 30px 30px;
}

#cleanerPictureFrame{
    width:300px;
    height:350px;
    border:8px solid #FFD54F;
    border-radius:20px;
    background:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    margin-left: 26px;
}

#cleanerPictureFrame img{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:15px;
}

#cleanerPictureFrame h2{
    margin-top:20px;
}

/* ===========================
   Mobile Responsive
=========================== */

@media (max-width:768px){

body{
overflow:hidden;
}

.sidebar{
position:fixed;
top:0;
left:0;
height:100%;
width:240px;
padding:20px 10px;
z-index:99999;
box-shadow:4px 0 10px rgba(0,0,0,.3);
}

.sidebar h1{
font-size:42px;
}

.sidebar button{
width:170px;
height:52px;
font-size:22px;
}

.timeBox h2{
font-size:28px;
}

.timeBox p{
font-size:24px;
}

.back{
font-size:75px!important;
background: transparent!important;
padding-bottom:24px;
background: #2d00ff !important;;
}

#menuBtn{
width:45px;
height:45px;
font-size:24px;
top:160px;
left:15px;
}

.main{
width:100%;
padding:10px;
}

.banner{
position:relative;
height:230px;
margin-bottom:25px;
overflow:hidden;
border-radius:20px;
}

.banner::after{
    content:"";
    position:absolute;

    top:0;
    left:-150px;

    width:100px;
    height:100%;

    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.15),
        rgba(255,255,255,.7),
        rgba(255,255,255,.15),
        transparent
    );

    transform:skewX(-25deg);

    filter:blur(8px);

    animation:bannerSmoothShine 3s infinite;
}


@keyframes bannerSmoothShine{

    0%{
        left:-150px;
        opacity:0;
    }

    25%{
        opacity:1;
    }

    100%{
        left:120%;
        opacity:0;
    }
}

.banner img{
width:100%;
height:100%;
object-fit:cover;
}

@media (max-width:2420px){
.logo{
    width:60px;
    height:60px;
    left:15px;
    z-index: 10;
   }
}

.content{
height:calc(100vh - 220px);
border-radius:20px;
font-size: 6px;
}

}

.welcomeTitle{
color:white;
text-align:center;
padding:15px 10px;
font-size:16px;
font-weight:bold;
line-height:1.3;
}

#officersTitle{
font-size:28px;
margin-top:20px;
margin-bottom:15px;
padding:0 20px;
text-align:center;
transform:translateY(15px);
}

#officersContainer{
padding:0 18px 20px;
line-height:1.7;
}

#officersHeading1,
#officersHeading2{
font-size:22px;
margin:15px 0 10px;
text-align:left;
}

#officersList,
#committeeList{
padding-left:22px;
margin:0;
}

#officersList li,
#committeeList li{
margin-bottom:8px;
text-align:left;
font-size: 12px;
}

#officersDescription{
margin-top:18px;
text-align:justify;
line-height:1.7;
font-size: 14px;
}

 .social-container {
        width: 90%;
        max-width: 320px;
        padding: 15px;
        border-radius: 15px;
        margin: -10px auto 20px;
        text-align: center;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    .social-icons a img {
        width: 35px;
        height: 35px;
        transition: 0.4s;
    }

    .social-icons a img:hover {
        transform: scale(1.15);
    }

    #officerTriangleBtn{
width:40px;
height:60px;
}

#officerTriangleBtn span{
font-size:16px;
}

    #officerSideModal{
        width:330px;
        height:400px;
        right:-120%;
        left:auto;
        top:50%;
        transform:translateY(-50%);
        overflow-y:auto;
        transition:right .5s ease;
    }

    #officerSideModal.active{
        right:5%;
    }

#officerModalLeft button{
font-size:11px;
padding:6px;
}

#officerModalRight{
    width:65%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

#officerPicture{
    width:210px;
    height:210px;
    object-fit:cover;
    border-radius:15px;
}

  #cleanersSidebar{
    position:fixed;
    top:20px;
    right:0px;
    width:130px;
    padding:8px;
    gap:8px;
    border-radius:14px;
    box-shadow:
        0 8px 18px rgba(0,0,0,.25),
        inset 0 1px 0 rgba(255,255,255,.08);
}

#cleanersSidebar button{
    padding:9px 10px;
    font-size:12px;
    border-radius:10px;
}

#openCleanerSidebar{
        border-top:30px solid transparent;
        border-bottom:30px solid transparent;
        border-left:55px solid skyblue;
        filter:drop-shadow(0 0 8px skyblue);

    }

    #openCleanerSidebar:hover{
        transform:
        translateY(20px)
        scale(1.15);

    }

    @keyframes triangleFloat{

        0%{
            transform:translateY(20px) translateX(0);
        }

        50%{
            transform:translateY(20px) translateX(8px);
        }

        100%{
            transform:translateY(20px) translateX(0);
        }

    }

@media (max-width:480px){

.sidebar{
width:210px;
}

.sidebar h1{
font-size:34px;
}

.sidebar button{
width:150px;
height:48px;
font-size:18px;
}

.timeBox h2{
font-size:24px;
}

.timeBox p{
font-size:20px;
}

.banner{
height:120px;
}

.content{
height:calc(100vh - 190px);
}

}
